<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Book">
    <insert id="save" parameterType="book">
        insert into book_table(bookCounts, bookTitle,  bookAdmin, bookWriter, bookPublisher, bookPublicationDate, bookIntroduceContents ,bookPrice, bookCreatedDate, bookFileName)
        values (#{bookCounts}, #{bookTitle}, #{bookAdmin},#{bookWriter}, #{bookPublisher},#{bookPublicationDate}, #{bookIntroduceContents}, #{bookPrice}, now(), #{bookFileName})
    </insert>

    <select id="bookList" parameterType="java.util.HashMap" resultType="book">
        select * from book_table order by id desc limit #{start}, #{limit}
    </select>

    <select id="findById" parameterType="Long" resultType="book">
        select * from book_table where id = #{id}
    </select>

    <select id="count" resultType="int">
        select count(id) from book_table
    </select>

    <select id="search" parameterType="java.util.HashMap" resultType="book">
        select * from book_table where ${type} like concat('%', #{q}, '%') order by id desc
    </select>

    <update id="update" parameterType="book">
        update book_table set bookCounts = #{bookCounts}, bookPrice = #{bookPrice} where id= #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from book_table where id = #{id}
    </delete>

    <update id="bookCountsUpdate" parameterType="book">
        update book_table set bookCounts = #{bookCounts} where id=#{id}
    </update>

</mapper>