<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into book_member_table(memberId,memberPassword,memberName,memberEmail,memberMobile,memberProfileName)
        values(#{memberId}, #{memberPassword}, #{memberName}, #{memberEmail}, #{memberMobile}, #{memberProfileName})
    </insert>

    <select id="duplicateCheck" parameterType="String" resultType="String">
        select memberId from book_member_table where memberId = #{memberId}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from book_member_table where memberId = #{memberId} and memberPassword = #{memberPassword}
    </select>

    <select id="findByMemberId" parameterType="String" resultType="member">
        select * from book_member_table where memberId = #{memberId}
    </select>

    <select id="findById" parameterType="Long" resultType="member">
        select * from book_member_table where id = #{id}
    </select>

    <update id="update" parameterType="member">
        update book_member_table set  memberEmail = #{memberEmail}, memberMobile=#{memberMobile} , memberProfileName = #{memberProfileName} where id= #{id}
    </update>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="member">
        select * from book_member_table order by id desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="int">
        select count(id) from book_member_table
    </select>
</mapper>